<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FinalEx" verbose="1">
    <test name="FinalEx">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testcases.BookTicketTest">
                <methods>
                    <include name="tc_BookMultipleTicket_test" />
                </methods>
            </class>
            <class name="testcases.CancelTicketTest">
            <methods>
                <include name="tc_CancelMultipleTickets_test" />
            </methods>
        </class>
        </classes>
    </test>
</suite>
